/* Structure */
:root {
    --primary-color: #4851bb;
    --secondary-color: #fff7af;
    --header-color: #0c1793;
    --text-color: #ffffff;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Source Code Pro Regular', sans-serif;
    background: var(--secondary-color);
}

#content {
    text-align: center;
}

#javascript-col {
    padding: 10px 20px 10px 20px;
}

#javascript-col section {
    display: block;
    background: var(--primary-color);
    padding: 10px;
    text-align: center;
    position: static;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--header-color);
}

#slide-section section {
    border: none;
    background: none;
    text-align: left;
    position: relative;
}


#main-footer {
    text-align: center;
}

/* Images */

/* Typography */

h1,
h2,
p {
    color: var(--header-color);
}

#javascript-col h3,
h4 {
    color: var(--text-color);
}

/* Larger Resolutions */
/* Media Query */
/* For larger devices e.g. laptops */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    #javascript-col section {
        flex: 30%;
    }

    .three {
        flex: 3;
    }

    #slide-section section {
        max-width: 100%;
    }
}