/* Structure */
:root {
    --primary-color: #fee975;
    --column-color: #28c00d;
    --border-color: #7d3807;
    --text-color: #013b00;
}

body {
    font-family: Verdana, Geneva, Tahoma, 'Free Serif', sans-serif;
    background-color: var(--primary-color);
}

#column-list {
    text-align: center;
}

#column-list section {
    background-color: var(--column-color);
    border: 2px solid var(--border-color);
    text-align: center;
    padding: 10px;
    padding-bottom: 100px;
    margin: 10px;
}

#dialog section {
    background: white;
    margin: 10px;
}

#dialog-details {
    padding-right: 10px;
}

#attribute,
#main-footer {
    text-align: center;
}

#attribute a {
    color: var(--column-color);
    text-decoration: none;
}

/* Images */
#column-list img {
    border: 2px solid white;
    text-align: center;
    object-fit: contain;
    max-width: 100%;
}

#dialog img {
    margin: 0 auto;
    max-width: 95%;
    object-fit: contain;
    text-align: center;
}

/* Typography */
h1,
h2,
h3,
p {
    color: var(--text-color);
    font-weight: 500;
}

h1,
h2 {
    text-align: center;
    font-weight: 600;
}

#attribute a,
#dialog h2 {
    font-weight: 600;
}

#dialog h2,
#dialog p {
    color: var(--text-color);
    text-align: left;
}

.fonts {
    font-family: Verdana, Geneva, Tahoma, 'Free Serif', sans-serif;
}

/* Modal */
.w3-container,
.w3-panel {
    padding: 15px;
}

::before,
::after {
    box-sizing: content-box;
}

/* Media Query */
/* For larger devices e.g. laptops */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .gallery section {
        flex: 22%;
    }

    .one {
        flex: 1;
    }

    #dialog img {
        margin: 0 auto;
        max-width: 75%;
        object-fit: contain;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

}