/* Structure */
:root {
    --primary-color: #84d9f5;
    --secondary-color: #0e5acc;
    --tertiary-color: #2472e7;
    --background-color: #c9edeb;
    --box-color: #bdeeff;
    --box-shadow: #55b1cf;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Source Code Pro Regular', sans-serif;
    background-color: var(--background-color);
}

#page {
    background: #ffffff;
    border: 1.5px solid var(--box-shadow);
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 40px 40px 40px 40px;
    padding: 20px 20px 20px 20px;
}

#main-header {
    background: var(--primary-color);
    box-shadow: -5px 5px var(--box-shadow);
    text-align: center;
    border-radius: 40px 40px 40px 40px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}


#main-footer {
    margin-top: 35px;
    text-align: center;
}

#main-content {
    background: var(--primary-color);
    box-shadow: -5px 5px var(--box-shadow);
    position: relative;
    border-radius: 40px 40px 40px 40px;
}

/* Navigation */

#assignments a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
}

#assignments {
    padding: 10px 30px 30px 30px
}

#assignments section {
    display: block;
    background: var(--box-color);
    box-shadow: -5px 5px var(--box-shadow);
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 10px;
    max-width: 100%;
}

/* Tables */
#main-table {
    border-collapse: collapse;
    margin: auto;
}

#main-table th,
td {
    border: 1.5px solid #02409f;
    padding: 5px;
}

#main-table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#main-table td {
    color: #1e232d;
    background-color: #d1f4ff;
}

/* Images */
#assignments img {
    border: 1px solid var(--secondary-color);
    display: block;
    margin: auto;
    max-width: 100%;
    text-align: center;
    position: relative;
    width: 300px;
    height: 150px;
}

/* Typography */
h1,
h2,
h3 {
    text-align: center;
    color: var(--secondary-color);
}

p {
    color: #1e232d;
    padding: 10px;
}

/* Media Query */
/* For larger devices e.g. laptops */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    #main-nav li {
        flex: 1;
    }

    #assignments section {
        flex: 30%;
    }

    .three {
        flex: 3;
    }

    img {
        width: 300px;
        height: 150px;
    }
}