/* Structure */
:root {
    --primary-color: #84d9f5;
    --secondary-color: #0e5acc;
    --background-color: #c9edeb;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Source Code Pro Regular', sans-serif;
    background-color: var(--background-color);
}

#page {
    background: #ffffff;
    box-shadow: -10px 10px rgba(41, 137, 169, 0.7);
    width: 90%;
    margin: auto;
    border-radius: 5px 40px 40px 0px;
    padding: 10px 15px 15px 25px;

}

#main-header,
#main-footer {
    background: var(--primary-color);
    text-align: center;
    border-radius: 5px 15px 15px 5px;
    /* padding-left: 10px; */
}


#main-footer {
    margin-top: 35px;
}

/* Navigation */
#main-nav ol,
ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-left: 10px;
}

#main-nav li:first-child {
    margin-left: 0;
}

#main-nav a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
}

#main-nav a:hover {
    color: #5697f9;
}

/* Tables */
#main-table {
    border-collapse: collapse;
    margin: auto;
}

#main-table th,
td {
    border: 1.5px solid #02409f;
    padding: 5px;
}

#main-table th {
    /*     background-color: #1e6ee5;
    color: #003a91; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#main-table td {
    color: #1e232d;
    background-color: #d1f4ff;
}

/* #main-table #table-corner {
    background-color: #84d9f5;
} */

/* Images */
img {
    border: 1.5px solid var(--secondary-color);
    margin: 10px auto 20px;
    display: block;
}

/* Typography */
h1 {
    color: var(--secondary-color);
}

h2 {
    color: #6c4be0;
}

p {
    color: #1e232d;
}

/* Larger Resolutions */