/* Structure */
:root {
    --primary-color: #d98282;
    --secondary-color: #a4bfb8;
    --text-color: rgb(76, 133, 137);
    --background-color: #f2f0d6;
    --body-background: #f1f2ea;
    background: var(--body-background);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    margin: 0 20px 0 20px;
}

#content {
    margin: 0 auto 0 auto;
    border: 1px solid var(--secondary-color);
}

#main-header {
    border-top: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    position: relative;
}

#main-footer {
    text-align: center;
}

#main-content {
    border-right: 1px solid var(--secondary-color);
    border-left: 1px solid var(--secondary-color);
    position: relative;
}

#main-sidebar {
    border-top: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    background: var(--primary-color);
    padding-left: 5%;

}


#information {
    background: var(--secondary-color);
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

#information section {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    position: relative;
}

#big-ideas {
    position: relative;
    padding: 20px 50px 20px 50px;
    border: 1 solid var(--secondary-color);
}

#big-ideas section {
    padding: 10px 10px 0px 10px;
}

/* Navigation */

#main-nav ul {
    padding-left: 0;
    list-style-type: none;
}

#main-nav li {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding: 5px;
}

#main-nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

#sidebar-nav ul {
    padding-left: 4%;
    list-style-type: none;
}

#sidebar-nav a {
    text-decoration: underline;
    color: white;

}

/* Images */
#big-ideas img {
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    padding-right: 10px;
}

/* Typography */
h1 {
    color: var(--text-color);
    text-align: center;
}

#information h3,
#information p {
    color: white;
}

#information h3 {
    text-align: center;
}

#information p {
    text-align: left;
}

#big-ideas h2,
#big-ideas h3,
#big-ideas p {
    color: var(--text-color);
    position: relative;
}


#big-ideas p {
    display: inline-block;
}

#main-sidebar h3 {
    color: white;
}

#main-footer p {
    color: var(--text-color);
}


/* Larger Resolutions */

/* Media Query */
/* For larger devices e.g. laptops */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    #main-nav li {
        flex: 1;
    }

    #information section {
        flex: 20%;
    }

    #main-sidebar {
        padding: 1% 16% 15% 1%;
    }

    #big-ideas {
        padding: 20px 150px 20px 150px;
    }

    #big-ideas section {
        display: flex;
    }

    #big-ideas h2 {
        padding-left: 20px;
    }

    .two {
        flex: 2;
    }

    .four {
        flex: 4;
    }
}