/* Structure */
:root {
    --primary-color: #FFE066;
    --secondary-color: #F76F8E;
    --tertiary-color: #89CBE1;
    --quaternary-color: #C3D350;
    --quinary-color: #999999;
    --box-color: #FFFFFF;
    --background-color: #ECD7C8;
    --text-color: #3C3C3C;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Source Code Pro Regular', sans-serif;
    background-color: var(--background-color);
}

#page {
    background: var(--tertiary-color);
    border: 1.5px solid var(--text-color);
    box-shadow: -3.5px 3.5px var(--text-color);
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


iframe {
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
    max-width: 100%;
}