/* Structure */

:root {
    --primary-color: #9B2915;
    --secondary-color: #E9B44C;
    --bkg-color: #50A2A7;
    --text-color: #1C110A;
}

body {
    background-color: var(--bkg-color);
}

#content {
    margin: 10px;
}

#main-header,
#main-content,
#attribute {
    padding: 10px;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}

#info {
    padding: 10px;
}

#attribute {
    border-top: 0;
    text-align: center;
}

#attribute a {
    color: var(--primary-color);
}

#main-footer {}

/* Navigation */
#main-nav {}

/* Tables */

/* Images */
#pic-display {
    text-align: center;
}

img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    margin: 10px;

}

/* Typography */
h1,
h2 {
    text-align: center;
    color: var(--primary-color);
}

#info h3,
#info p {
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}


/* Media Query */
/* For larger devices e.g. laptops */
@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }

    .three {
        flex: 3;
    }
}